@CHARSET "UTF-8";
*{
	margin: 0px;
	padding: 0px;
}

body
{
	text-align: center;
	background:#042C6F url(../imagens/bg.png) top repeat-x;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	height:100%;
	min-height:100%;
}

#todo
{
	margin-left: auto;
	margin-right: auto;
	width: 784px;
}

#topo
{
	text-align:left;
	position: relative;
	width: 784px;
	background: url(../imagens/header.png) no-repeat;
	height: 99px;
	color:#FFF;
	text-shadow:1px 1px 1px #000;
}

#corpo {
	margin-left: auto;
	margin-right: auto;
	width: 784px;
	position: relative;
	text-align: left;
}
#top_corpo {
	width: 784px;
	position: relative;
	height: 13px;
	background: url(../imagens/bg_top.png) no-repeat;
}
#center_corpo {
	width: 784px;
	position: relative;
	min-height: 330px;
	background: url(../imagens/bg_center.png) no-repeat;
	background-repeat: repeat-y;
}
#logado {
	width: 280px;
	float: right;
	padding-top: 40px;
	}
 #logoff {
	float: right;
	width: 88px;
	padding-top: 40px;
  
	}
#logoff span {
	background-image: url(../imagens/botao_logoff.png);
	background-repeat: no-repeat;
	display: block;
	height: 30px;
	width: 88px;
  color: #ffffff;
  font-weight:100;
  padding-left: 30px;
  padding-top: 6px;
  text-decoration: none;

	}
#link_logoff:link, #link_logoff:active, #link_logoff:visited, #link_logoff:hover{
  text-decoration: none;
}
#bottom_corpo {
	width: 784px;
	position: relative;
	height: 14px;
	background: url(../imagens/bg_bottom.png) no-repeat;
}

#corpo_conteudo {
	background-color: #FFF;
	position:relative;
}
#content {
	text-align:left;
	position: relative;
	margin-left: 10px;
	margin-right:10px;
}


#content h2{margin-bottom:10px;}

#copyright {
	color: #FFF;
	margin-top: 20px;
	margin-bottom: 20px;
}
#copyright span {
	display: block;
	font-size: 10px;
}

p {padding-bottom:15px;}
table tr td{padding:3px;}
a,a:link{color:#3366CC; text-decoration:underline;}
a:hover{color:#1652CC; text-decoration:none;}
a:active{color:#C00;}

#ajaxPage, select, #carregando, fieldset, .menuAluno a img, input {-moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px;}

#carregando {position:fixed; top:15px; right:15px; background-color:#FFF; display:inline-block; padding:10px; cursor:default; display:none; float:right; z-index:9999; border:1px solid #CCC;}
/* Login */
#login_conteiner{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #555;
  background-color: #EFEFEF;
  padding: 7px;
  border: 2px #FFFFFF solid;
  -moz-border-radius: 6px; 
  -webkit-border-radius:6px;
  border-radius: 6px;
  /* Avisa ao IE para mudar o
  comportamento desta classe e ela passa a entender o CSS3 */
  behavior: url(/portal_aluno/public/templates/portal-aluno-default/css/ie-css3.htc);
  position: relative;
  z-index: 2;
}
#login_conteiner h2{
  padding: 7px;
 
}
#login_form {
  padding: 7px;
 
}
.error {
  background-color:#ffdbf6;
  padding: 4px;
  text-align: center;
  border: 1px #cd0a0a solid;
  -moz-border-radius: 6px;
  -webkit-border-radius:6px;
  border-radius: 6px;
  behavior: url(/portal_aluno/public/templates/portal-aluno-default/css/ie-css3.htc);
  color: #cd0a0a;
}
#login_submit, #login_reset{
  background-image: url(../imagens/botao_logoff.png);
	background-repeat: no-repeat;
	display: inline-block;
	height: 30px;
	width: 88px;
  color: #ffffff;
  font-weight: bold;
  border: none;
  margin-top: 5px;
  padding-top: 3px;
}
#login, #senha {
  width: 172px;
  padding: 3px 3px 3px 6px;
  border: 1px #ccc solid;
  -moz-border-radius: 4px;
  -webkit-border-radius:4px;
  border-radius: 4px;
  behavior: url(/portal_aluno/public/templates/portal-aluno-default/css/ie-css3.htc);
}



/* Fim Formulários */

.formLogin {margin-top:10px; margin-bottom: 20px;}
.formLogin table tr td{padding:3px;}
.formLogin label {cursor:pointer;}

.menuAluno a {font-weight:bold; display:inline-block; text-decoration:none; border:1px solid #D8D8D8; background-color:#FFF; -moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px;
 border-radius: 4px; behavior: url(/portal_aluno/public/templates/portal-aluno-default/css/ie-css3.htc); position: relative; z-index: 2}
.menuAluno a:hover{background-color:#E8F3FF; border-color:#C6E2FF;}
.menuAluno a img{border:0px; text-decoration:none;}


fieldset{border:1px solid #CCC; padding:3px;}
fieldset legend {padding:5px;}

/* BOLETIM */
.tabelaBoletim table{border-top:1px solid #CCC; border-left:1px solid #CCC; width: 100%;}
.tabelaBoletim table tr td{padding:3px; border-right:1px solid #CCC; border-bottom:1px solid #CCC;}
.tabelaBoletim table tr th{padding:3px; border-right:1px solid #CCC; border-bottom:1px solid #CCC; background-color:#EAEAEA}


.tabelaBoletim table:hover{color:#CCC;}
.tabelaBoletim table tr:hover {color:#333;}
/* FIM BOLETIM */

#ajaxcontent { padding: 5px 8px 8px 8px;  border:1px solid #D8D8D8; background-color:#FFF; -moz-border-radius:4px; border-radius:4px; -webkit-border-radius:4px;
 border-radius: 4px;}
