@charset "utf-8";
/* CSS Document */

/*  Default layout */
* {
	
	margin: 0px;
	padding: 0px;
	}
body {
	margin: 0px;
	padding: 0px;
	background-color: #042B6D;
	font-family: Arial, Helvetica, sans-serif;
	color: #5D5D5D;
	font-size: 12px;	
	
	}
#conteiner {
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	height: 550px;
	
	
	}
#spaco_top {
	height: 80px;
	
	}
#conteiner_login {
	
	width: 414px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 7px;
	border: 1px solid #DAC7C5;
        -moz-border-radius: 6px;
       -webkit-border-radius: 6px;

        border-radius: 6px;
	}
#header_login {
	height: 72px;
	background-image: url(../images/bg_heade_login.png);
	background-repeat: repeat-x;	
	}
#logo {
	background-image: url(../images/header_logo.png);
	background-repeat: no-repeat;
	height: 72px;
        -moz-border-radius: 6px 0px 0px 0px;
       -webkit-border-radius: 6px 0px 0px 0px;

        border-radius: 6px 0px 0px 0px;
	}
#login {
	height: 280px;
	border: 1px solid #D2D5D7;
	background-color: #DBDCDF;
        -moz-border-radius: 6px;
       -webkit-border-radius: 6px;

        border-radius: 6px;
	}
#conteiner_content {
	height: 190px;
	background-image: url(../images/bg_content_login.png);
	background-repeat: repeat-x;	
	}
#content {
	height: 190px;
	background-image: url(../images/lock.jpg);
	background-repeat: no-repeat;
	background-position: 100px;	
	}
.rodape {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFF;
	padding: 20px;
	text-align: center;
	}
	
/*  Action Index  */

#login_msn {
	padding-top: 10px;
	height: 18px;	
	
	}
#login_form {
	width: 180px;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	text-align: left;
	}
#login_texto {
	float: right;
	width: 165px;
	text-align: left;
	padding-top: 30px;
	padding-right: 20px;
	padding-bottom: 10px;
        color: #444;
}
label {
	display: block;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 12px;
	}
.input {
	width: 160px;
	border: 1px solid #C3C3C3;
	height: 18px;
	font-size: 11px;
	color: #333;
	padding-left: 4px;
	padding-top: 2px;
	}
.botao {
	height: 28px;
	width: 100px;
	margin-top: 10px;
	background-image: url(../images/botao.png);
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #FFF;
	font-weight: bold;
	margin-bottom: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top: -2px;
	}
.erro {
	margin-right: 10px;
	margin-left: 10px;
	font-size: 15px;
	color: #333;
	background-color: #FFA6A6;
	border: 1px solid #900;
	font-weight: bold;
	padding: 5px;
          -moz-border-radius: 6px;
       -webkit-border-radius: 6px;

        border-radius: 6px;
        behavior: url(ie-css3.htc); /* Avisa ao IE para mudar o
 comportamento desta classe e ela passa a entender o CSS3 */

	
	}
.link_login:link, .link_login:active, .link_login:visited, .link_login:hover{
	
	color: #5D5D5D;
	font-size: 12px;
	
	}
#form {
	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 40px;
	text-align: left;
	
	}
.input_cpf {
	border: 1px solid #C3C3C3;
	height: 18px;
	font-size: 11px;
	color: #333;
	padding-left: 4px;
	padding-top: 2px;
	
	}
.input_email{
	width:200px;
	border: 1px solid #C3C3C3;
	height: 18px;
	font-size: 11px;
	color: #333;
	padding-left: 4px;
	padding-top: 2px;
	
	}